:root {
  --primary-color: #6C63FF;
  --primary-hover-color: #574BFF;
  --dark-bg-color: #121824;
  --dark-card-color: #1A202C;
  --light-bg-color: #ffffff;
  --light-panel-color: #f7f7f9;
  --border-color: #e5e7eb;
  --text-dark: #1f2937;
  --text-medium: #6b7280;
  --text-light: #d1d5db;
  --text-white: #ffffff;
}

body {
  background-color: var(--light-bg-color);
}